 <!-- About Section -->
    <section class="success" id="booking">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Booking</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                  <script id="setmore_script" type="text/javascript" src="https://my.setmore.com/js/iframe/setmore_iframe.js"></script><a id="Setmore_button_iframe" style="float:none" href="https://my.setmore.com/bookingpage/6bcf3799-fb16-45d5-b041-5b69690aaf71"><img border="none" src="https://my.setmore.com/images/bookappt/SetMore-book-button.png" alt="Book an appointment using SetMore" /></a>
                </div>
            </div>
        </div>
    </section>
