    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img id="main_image" class="img-responsive" src="img/young_avatar_400.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.data.author.title }}</span>
                        <hr class="star-light">
                        <span class="skills">{{ site.data.author.skills }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>