#main_image{
    border-radius: 100px;
}

.navbar-fixed-top.navbar-shrink {
    padding: 10px 0;
}

.navbar-fixed-top.navbar-shrink .navbar-brand {
    font-size: 1.5em;
}

.footer_link {
    font-size: 20px;
    outline: 0;
    color: white;
}
